$white : #F3F0F0;
$blue : #84c1ff;
$orange : #FF916B;
$red : #F1485B;

body  {
    margin: 0;
    padding: 0;
    font-family: 'Baumans', cursive;
    color: $white;
    height: 100vh;
    background: url("./media/background.jpg") no-repeat 50% 50%;
    background-size: cover;
    > .gradient {
    background: linear-gradient(167deg,#030101 16%, rgba(0, 0, 0, 0) 100%);
    height: 100vh;
    }
}
li {
    list-style: none;
}

.title {
    padding: 5px 0 0 0;
    
    p {
    font-family: 'Megrim', cursive;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0px;
    padding-left: 16px;
    position: absolute;
        
        &:nth-child(1) {
        color: $orange;
        margin: 3px  0  0 3px;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px $orange, 7px 8px 17px rgba(206,89,55,0);
            }
        &:nth-child(2) {
        color: $red;
        margin: 1px 0 0 1px;
            }
        &:nth-child(3) {
        color: $blue;
        }
    }
}

.nav {
    text-align: right;
    position: relative;
    margin-top: -110px;
    li {
    display: inline;
    padding: 5px 15px;
    border-left: 3px solid $white;
    } 
}

.line {
    width: 88%; 
    height: 100px;  
    border: solid 1px $white;
    border-color:orange transparent transparent transparent;
    border-radius: 45%/ 60px 100px 0 0;
    margin: 70px 0 0 30px;
  }

.carousel {
    padding-top: 110px;
}
