$white : #F3F0F0;
$blue : #84c1ff;
$orange : #FF916B;
$red : #F1485B;

body  {
    margin: 0;
    padding: 0;
    font-family: 'Baumans', cursive;
    color: $white;
    height: 100vh;
    background: url("./media/background.jpg") no-repeat 50% 50%;
    background-size: cover;
    > .gradient {
    background: linear-gradient(167deg,#030101 22%, rgba(0, 0, 0, 0) 100%);
    height: 100vh;
    }
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

// ******************** HEADER *********************
.title {
    padding: 5px 0 0 0;
    
    p {
    font-family: 'Megrim', cursive;
    font-size: 50px;
    text-transform: uppercase;
    margin: 0px;
    padding-left: 16px;
    position: absolute;
        
        &:nth-child(1) {
        color: $orange;
        margin: 3px  0  0 3px;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px $orange, 7px 8px 17px rgba(206,89,55,0);
            }
        &:nth-child(2) {
        color: $red;
        margin: 1px 0 0 1px;
            }
        &:nth-child(3) {
        color: $blue;
        }
    }
}

.nav {
    text-align: right;
    position: relative;
    margin-top: -110px;
    li {
    display: inline;
    padding: 5px 15px;
    border-left: 3px solid $white;
    } 
}

.line {
    width: 88%; 
    height: 100px;  
    border: solid 1px $white;
    border-color:orange transparent transparent transparent;
    border-radius: 45%/ 60px 100px 0 0;
    margin: 70px 0 0 30px;
  }

// *********************** CAROUSEL **************************
.carousel {
    width: 35%;
    max-width: 600px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 8px 8px 4px -3px rgba(0, 0, 0, 0.43);
    &__figure {
        position: relative;
        width: 300%;
        margin: 0;
        padding: 0;
        font-size: 0;
        animation: 35s sliders infinite;
        &--pic {
            width: 33.333%;
            height: auto;
            float: left;
        }
    // La font-size: 0 aspire l’air autout de l’élément figure en retirant tout espace entre les images et autour. position: relative permet à la figure d’être déplacée facilement pendant l’animation. 
    }
}  
@keyframes sliders {
    0% {left: 0%;}
    20% {left: 0%;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%}
    70% {right: 200%}
    75% {right: 100%}
    95% {right: 100%}
    100% {right: 0%}
} 
// ********************* PRICING ************************

#offers {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}
.perspective {
    width: 100%;
    perspective: 800px;
    display: flex;

    &__card {
        width: 140px;
        height: 200px;
        margin: auto;
        box-shadow: 0 70px 63px -60px #494848;
        transform-style: preserve-3d;
        transition: transform .05s linear;

        &--thumb {
            background-size: cover;
            height: 100%;
            width: 100%;
            border-radius: 15px;

        &:after {
            background: inherit;
            content: '';
            display: block;
            position: absolute;
            left: -60px;
            top: 40px;
            width: 100%;
            height: 85%;
            z-index: -1;
            filter: blur(55px);
        }
    }
}
    h2 {
        position: absolute;
        top: 0;
        font-size: 1em;
        font-weight: 100;
        transform: translateZ(80px);
        text-transform: uppercase;
    }
    span {
        position: absolute;
        bottom: 40px;
        right: -10px;
        font-size: 0.8em;
        font-weight: 600;
        transform: translateZ(35px);
    }
}

// ******************* BUTTON ***********************
.block {
    padding-top: 200px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 320px;  

    &__element {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
        fill: transparent;
        stroke: $orange;
        border-bottom: 5px solid $blue;
        transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;

        &--modifier {
            text-align: center;
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 8px;
            color: $white;
            top: -48px;
            position: relative;
        }
    }
}
.block:hover .block__element {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
  }

// ******************** FOOTER **********************

footer {

}

footer p {
    font-family: 'Megrim', cursive;

}